:root {
  --primary-color: #396CA0;        /* Blue */
  --secondary-color: #FEFEFE;      /* White */
  --accent1-color: #71563D;        /* Brown */
  --accent2-color: #43555F;        /* Navy Blue */
  --heading-font: "Roboto", sans-serif;
  --body-font: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  color: var(--accent1-color);
  background-color: var(--secondary-color);
  line-height: 1.6;
}

header,
main,
footer {
  max-width: 840px;
  margin: 0 auto;
  padding: 16px;
}

header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-content: space-between;
}

header img {
  height: 60px;
  width: auto;
}

nav {
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
  
}

nav a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 600;
}

nav a:hover {
  text-decoration: underline;
}

.hero {
  position: relative;
  text-align: center;
  margin-bottom: 24px;
}

.hero img {
  width: 100%;
  height: auto;
  
}

.hero h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  background-color: var(--accent1-color);
  color: #fff;
  opacity: 0.8;
  font-family: var(--heading-font);
}

.hero article {
  position: absolute;
  top: 150px;
  right: 0px;
  bottom: 100px;
  width: 100%;
  padding: 16px;
  height: 120px;
  align-items: right;
  background-color: rgba(113, 86, 61, 0.9); /* accent1 with transparency */
  color: #fff;
  opacity: 0.8;
  border-radius: 4px;
  line-height: 15px;
}

.hero article h2 {
  font-family: var(--heading-font);
  margin-bottom: 8px;
}

.hero article img {
  float: right;
  width: 100px;
  height: auto;
  margin-bottom: 8px;
  box-shadow: 0 0 10px var(--accent1-color);
}

section {
  margin: 24px 0;
}

.history {
  align-items:center;
  font-family: var(--heading-font);
  color: var(--accent1-color);
  margin-bottom: 12px;
}

.adventure {
  padding: 2rem;
  background-color: #fff;
}

section h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.adventure-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 16px;
  padding-top: 1rem;
}

.adventure-gallery figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100px;
}

.adventure-gallery img {
  width: 80%;
  height: auto;
}


.socialmedia a img {
  width: 24px;
  height: 24px;
}