*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
:root {
    --heading-background-color: #ddd;
    --heading-border: 1px solid black;

}

nav {
    background-color: var(--heading-background-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

img {
    width: 150px;
    height: auto;
    border: var(--heading-border);
    padding:2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 10px;
}

aside {
    width:20rem;
    padding:2px;}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    float: right;
}

p {padding: 0;}

footer {
    margin-top: 15px;
    border-top: var(--heading-border);
    text-align: center;
}
/*Class Selectors*/
.box {
    margin: 1rem;
    border: var(--heading-border);
    padding: 1rem;
    background-color: var(--heading-background-color);
    color: #000;

}

aside h2 {
    position: absolute;
    top: 47px;
    left: 150px;
}