:root {
    --heading-background-color: darkblue;
    --heading-border: 1px solid black;

}

nav {
    background-color: var(--heading-background-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

img {
    width: 150px;
    height: auto;
    border: var(--heading-border);
    padding:2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 10px;
}

aside {
    width:20rem;
    margin:1rem;
    border:var(--heading-border);
    padding:2px;
    background-color: #eee;
    color: #333;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
}

p {padding: 0;}

footer {
    margin-top: 15px;
    border-top: var(--heading-border);
    text-align: center;
}